#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_z {
            bindings = <&kp Z>;
            key-positions = <0 1>;
        };

        combo_q {
            bindings = <&kp Q>;
            key-positions = <1 2>;
        };

        combo_exclamation {
            bindings = <&kp EXCL>;
            key-positions = <4 3>;
        };

        combo_asterisk {
            bindings = <&kp STAR>;
            key-positions = <25 24>;
        };

        combo_plus {
            bindings = <&kp PLUS>;
            key-positions = <26 27>;
        };

        combo_semicolon {
            bindings = <&kp SEMI>;
            key-positions = <15 16>;
        };

        combo_at {
            bindings = <&kp AT>;
            key-positions = <5 6>;
        };

        combo_colon {
            bindings = <&kp COLON>;
            key-positions = <6 7>;
        };

        combo_question {
            bindings = <&kp QMARK>;
            key-positions = <7 35>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
             &kp X  &kp W  &kp M      &kp G          &kp DQT      &kp HASH   &kp DOT    &kp SQT   &kp J  &kp B
             &kp S  &kp C  &kp N      &kp T          &kp K        &kp COMMA  &kp A      &kp E     &kp I  &kp H
&mt ESC TAB  &kp V  &kp P  &kp L      &kp D          &kp SLASH    &kp MINUS  &kp U      &kp O     &kp Y  &kp F  &mt DEL RET
                           &kp LCTRL  &kp BACKSPACE  &kp R        &kp SPACE  &kp RSHFT  &kp RALT
            >;
        };
    };
};
